mixin card-header(title, subtitle)
    .has-background-primary.pt-4.pb-2.has-text-centered
        h1.is-size-4.has-text-weight-bold.has-text-light= title
        p.is-size-6.has-text-weight-normal.has-text-white= subtitle

mixin button(value)
    b-input(
        custom-class="button mt-5 has-text-weight-bold is-primary is-outlined"
        type="submit"
        value= value
        expanded
        rounded
        )

mixin field(rules ,vid , name, bails, label, type, model, placeholder)
    ValidationProvider(
        rules= rules
        vid= vid
        name= name
        :bails= bails
        v-slot="{ errors, valid }"
        )
        b-field(
            label= label
            :type="{ 'is-danger': errors[0], 'is-success': valid }"
            :message="errors"
            custom-class="mt-5 has-text-weight-normal"
            )
            b-input(
                type= type
                v-model.trim= model
                placeholder= placeholder
                ellipsis
            )

mixin fieldPasswordReveal(rules, name, label, type, model, placeholder)
    ValidationProvider(
        rules= rules
        name= name
        v-slot="{ errors, valid }"
        )
        b-field(
            label= label
            :type="{ 'is-danger': errors[0], 'is-success': valid }"
            :message="errors"
            custom-class="mt-5 has-text-weight-normal"
            )
            b-input(
                type= type
                v-model.trim= model
                placeholder= placeholder
                password-reveal
                ellipsis
                )
