<template scoped lang="pug">
  .has-background-light
    Form/
</template>

<script>
// @ is an alias to /src
import Form from "@/components/FormLogin.vue";

export default {
  name: "Login",
  components: {
    Form,
  },
};
</script>
