<template scoped lang="pug">
include includes/mixins
section.section
  .columns.is-centered
    .column.is-4.has-text-left
      .card.is-centered
        +card-header("Connexion", "Utiliser votre compte Groupomania")
        .card-content
          ValidationObserver(
            ref="observer"
            v-slot="{ handleSubmit }"
            icon-pack="fas"
          )
            form(
              @submit.prevent="handleSubmit(onSubmit)"
              method="POST"
              novalidate
              enctype="multipart/form-data"
            )
              +field(
                "required|email",
                "null",
                "email",
                "true",
                "Email *",
                "email",
                "email",
                "votre adresse email",
              )
              +fieldPasswordReveal(
                "required",
                "password",
                "Password *",
                "password",
                "password",
                "ajoutez votre password",
              )
              +button("Suivant")
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import axios from "axios";
console.log(1);
export default {
  name: "FormLogin",
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      email: null,
      password: null,
    };
  },
  methods: {
    onSubmit() {
      console.log(2);
      const formData = new FormData();
      formData.append("email", this.email);
      formData.append("password", this.password);
      axios
        .post("http://localhost:3000/user", formData, {})
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
console.log(3);
</script>

<style>
@import "../../node_modules/modern-normalize/modern-normalize.css";
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../../node_modules/@fontsource/roboto/files/roboto-latin-100-normal.woff2"),
    url("../../node_modules/@fontsource/roboto/files/roboto-latin-400-normal.woff2"),
    url("../../node_modules/@fontsource/roboto/files/roboto-latin-700-normal.woff2"),
    format("woff2");
}

button.button span {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input::placeholder {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
</style>
