<template scoped lang="pug">
include includes/mixins
section.section
  .columns.is-centered
    .column.is-4.has-text-left
      .card.is-centered
        +card-header("Inscription", "Créer votre compte Groupomania")
        .card-content
          ValidationObserver(
            ref="observer"
            v-slot="{ handleSubmit }"
            icon-pack="fas"
          )
            form(
              @submit.prevent="handleSubmit(onSubmit)"
              method="POST"
              novalidate
              enctype="multipart/form-data"
            )

              +field(
                "required|alpha_spaces",
                "null",
                "username",
                "true",
                "Username *",
                "text",
                "username",
                "ajoutez votre nom d'utilisateur",
              )

              +field(
                "required|email",
                "null",
                "email",
                "true",
                "Email *",
                "email",
                "email",
                "ajoutez votre adresse email",
              )

              +field(
                "required|min:8|regex:^(?=.*?[A-Z])(?=.*?[a-z])(?=.*?[0-9])(?=.*?[#?!@$%^&*-]).*$",
                "confirmation",
                "Password",
                "false",
                "Password *",
                "password",
                "password",
                "ajoutez votre password",
              )

              +fieldPasswordReveal(
                "required|confirmed:confirmation",
                "Password",
                "Confirm Password *",
                "password",
                "confirmation",
                "confirmez votre password",
              )

              +button("Suivant")
</template>

<script>
import { ValidationObserver, ValidationProvider } from "vee-validate";
import axios from "axios";
export default {
  name: "FormSignup",
  components: {
    ValidationObserver,
    ValidationProvider,
  },
  data() {
    return {
      username: null,
      email: null,
      password: null,
      confirmation: null,
    };
  },
  methods: {
    onSubmit() {
      const formData = new FormData();
      formData.append("username", this.username);
      formData.append("email", this.email);
      formData.append("password", this.password);
      formData.append("confirmation", this.confirmation);
      axios
        .post("http://localhost:3000/user", formData, {})
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style>
@import "../../node_modules/modern-normalize/modern-normalize.css";
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../../node_modules/@fontsource/roboto/files/roboto-latin-100-normal.woff2"),
    url("../../node_modules/@fontsource/roboto/files/roboto-latin-400-normal.woff2"),
    url("../../node_modules/@fontsource/roboto/files/roboto-latin-700-normal.woff2"),
    format("woff2");
}

button.button span {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
input::placeholder {
  font-family: Roboto, Helvetica, Arial, sans-serif;
}
</style>
