<template lang="pug">
  #app
    b-navbar.container.is-fullhd
      template(#start)
        b-navbar-item
          router-link(:to="{path: '/'}") Home
      template(#end)
        b-navbar-item(tag="div")
          .buttons
            .button.is-light
              router-link(:to="{path: '/login'}") Login
            .button.is-primary
              router-link(:to="{path: '/signup'}").has-text-white Sign-up
    router-view/
</template>

<style lang="scss">
@import "../node_modules/modern-normalize/modern-normalize.css";
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
    url("../node_modules/@fontsource/roboto/files/roboto-latin-100-normal.woff2"),
    url("../node_modules/@fontsource/roboto/files/roboto-latin-400-normal.woff2"),
    url("../node_modules/@fontsource/roboto/files/roboto-latin-700-normal.woff2"),
    format("woff2");
}
#app {
  font-family: Roboto, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}
#nav a {
  font-weight: bold;
  color: #2c3e50;
}
</style>
